<!doctype html>
<html lang="en">
    <head>
        {{>layouts/component-bshead}}
    </head>
    <body>
        {{>layouts/component-bscontainer-header}}

        <h2>{{posting_title}}</h2>
        <h4>{{posting_sub}}</h4>

        {{>layouts/component-bscontainer-footer}}

        {{>layouts/component-bsbody-script}}
    </body>
</html>