<!doctype html>
<html lang="en">
    <head>
        {{>layouts/component-bshead}}
    </head>
    <body>
        <!-- header -->
        {{>layouts/component-bscontainer-header}}

        <!-- content -->
        <div class="d-flex justify-content-center p-5 m-5">
            <h1>Welcome, {{username}}!</h1>
        </div>

        <!-- footer -->
        {{>layouts/component-bscontainer-footer}}

        {{>layouts/component-bsbody-script}}
    </body>
</html>