<html>
    <head>
        {{>layouts/component-bshead}}
    </head>
    <body>
        {{>layouts/component-bscontainer-header}}

        <form class="container" action="/articles/create" method="post">
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="title" name="title">
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" placeholder="Content" name="content" style="height: 300px"></textarea>
                <label for="floatingTextarea">Content</label>
            </div>
            <button type="submit" class="btn btn-primary m-2">Submit</button>
        </form>

        {{>layouts/component-bscontainer-footer}}

        {{>layouts/component-bsbody-script}}
    </body>
</html>
